.itemlist__container {
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.itemlist {
    display: flex;
    flex-grow: 1;
}

.categories {
    margin-right: 40px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    display: flex;
    flex-direction: column;
}