@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: 'Poppins';
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 50px 1fr 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

ul { list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; 
}